/**
 * File Name    : header-component.css
 * Description  : 헤더 컴포넌트 스타일 시트
 * Author       : 황솜귤
 * 
 * History
 * Date          Author      Status      Description
 * 2024.09.05    황솜귤      Created     헤더 컴포넌트 스타일 시트 생성
 * 2024.09.09    황솜귤      Modified    드롭다운 클릭 이벤트로 동작하도록 변경
 */

 .header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-container input {
  width: 250px;
  padding: 8px;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.search-container button {
  background-color: transparent;
  border: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.menu-container {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

nav a {
  margin-right: 20px;
  color: #000;
  text-decoration: none;
  font-family: 'Pretendard', sans-serif;
}

nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}
